.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.home-container1 {
  top: var(--dl-space-space-tenunits);
  left: 0px;
  right: 0px;
  width: 886px;
  bottom: var(--dl-space-space-tenunits);
  height: 832px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  width: 311px;
  height: 121px;
  object-fit: cover;
}
.home-text {
  width: 628px;
  height: 99px;
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
}
.home-text04 {
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-fiveunits);
  text-align: center;
}
.home-image1 {
  width: 556px;
  height: 265px;
  align-self: center;
  margin-top: var(--dl-space-space-fiveunits);
  object-fit: cover;
}
.home-footer {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 71px;
  display: flex;
  position: absolute;
  max-width: 1400px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-text09 {
  opacity: 0.7;
  font-size: 12px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-link {
  opacity: 0.7;
  font-size: 12px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link1 {
  opacity: 0.7;
  font-size: 12px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-icon-group {
  display: flex;
  opacity: 0.7;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.home-link2 {
  display: contents;
}
.home-icon {
  width: 16px;
  height: 16px;
  margin-right: 32;
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-icon2 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
  text-decoration: none;
}
.home-link4 {
  display: contents;
}
.home-icon4 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
  text-decoration: none;
}
.home-link5 {
  display: contents;
}
.home-icon6 {
  width: 16px;
  height: 16px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-image {
    width: 233px;
  }
  .home-text {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-image1 {
    width: 471px;
    height: 179px;
  }
}
@media(max-width: 767px) {
  .home-container1 {
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    margin-right: 0px;
  }
  .home-image {
    width: 251px;
  }
  .home-text {
    width: 675px;
  }
  .home-image1 {
    width: 585px;
    height: 252px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text09 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .home-icon {
    opacity: 0.7;
  }
}
@media(max-width: 479px) {
  .home-image {
    width: 214px;
  }
  .home-text {
    color: var(--dl-color-gray-black);
    width: 382px;
    height: 123px;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.22;
    padding-bottom: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .home-image1 {
    width: 358px;
    height: 229px;
  }
  .home-footer {
    height: 64px;
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text09 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-icon-group {
    padding-top: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
